<ion-view view-title="Details">
    <ion-content>
        <div class="list">
            <div class="item item-divider text-center">
                <p style="font-size: large;">
                    {{vm.data.name}}
                </p>
            </div>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-medical">
                </i> {{vm.data.category}}
                <span class="item-note">Category</span>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-information-circled">
                </i> {{vm.data.number}}
                <span class="item-note">License Number</span>
            </a>
            <a class="item item-icon-left item-icon-right">
                <i class="icon ion-ios-calendar-outline">
                </i> {{vm.data.year}}
                <span class="item-note">Year</span>
            </a>
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-ios-location">
                </i> {{vm.data.address}}
            </a>
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-ios-person">
                </i> {{vm.data.contact}}
            </a>
            <a class="item item-icon-left item-text-wrap">
                <i class="icon ion-ios-telephone">
                </i> {{vm.data.phone}}
            </a>
        </div>
    </ion-content>
</ion-view>