<ion-view>
    <ion-header-bar align-title="center" class="bar-positive">

        <h1 class="title">Profile</h1>
        <div class="buttons">
            <button class="button"><i class="icon ion-edit"></i></button>
        </div>
    </ion-header-bar>
    <ion-content style="text-align: center;" class="has-header">
        <div class="list card">
            <div class="item item-image">
                <img src="./img/logo.jpg">
            </div>
            <i class="icon ion-edit"></i>
        </div>
    </ion-content>
</ion-view>