<ion-view view-title="Me">
    <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-image button-positive" ng-click="changeImage()">
        </button>
        <button class="button button-icon button-clear ion-ios-compose-outline button-balanced" ng-click="edit()">
        </button>
    </ion-nav-buttons>
    <ion-content >
        <div class="list" ng-hide="editDetails">
            <div class="item" style="text-align: center; background-color: currentColor;">
                <div style="padding-top:20px; padding-bottom:20px;" >
                    <img src="https://ionic-apps.s3.amazonaws.com/img/users/users-default-avatar@2x.png" class="profImage" style="max-width: 120px; max-height: 120px;"/>
                    <h2 style="color: white;font-size: x-large;">
                        {{me.name}}
                    </h2>
                </div>
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-at">
                </i>
                {{me.email}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-telephone">
                </i>
                {{me.phone}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-calendar-outline">
                </i>
                {{me.dob | date: 'fullDate'}}
            </div>
            <div class="item item-icon-left">
                <i class="icon ion-ios-location">
                </i>
                {{me.location}}
            </div>
        </div>
        <div class="list" ng-hide="!editDetails">
            <div class="item item-divider assertive">
                Update Details
            </div>
            <label class="item item-input">
                <span class="input-label">
                    Name :
                </span>
                <input type="text" ng-model="user.name"/>
            </label>
            <label class="item item-input">
                <span class="input-label" >
                    Email :
                </span>
                <input type="email" ng-model="user.email"/>
            </label>
            <label class="item item-input">
                <span class="input-label">
                    Date of Birth :
                </span>
                <input type="date" ng-model="user.dob"/>
            </label>
            <label class="item item-input">
                <span class="input-label">
                    Location :
                </span>
                <input type="text" ng-model="user.location"/>
            </label>
            <button class="button button-full button-balanced" ng-click="save()">
                Save
            </button>
        </div>
    </ion-content>
</ion-view>
<script id="editModal.html" type="text/ng-template">
    <div class="modal">
        <header class="bar bar-header bar-assertive">
            <h1 class="title">
                Update Details
            </h1>
            <div class="button button-clear" ng-click="modal.hide()">
                <span class="icon ion-close">
                </span>
            </div>
        </header>
        <content has-header="true" padding="true">
            <p>
                This is a modal
            </p>
        </content>
    </div>
</script>
