<ion-view view-title="Announcements">
    <ion-content class="padding">
        <div class="list">
            <ion-refresher pulling-text="Pull to refresh..." on-refresh="vm.getData()">
            </ion-refresher>
            <a class="item item-thumbnail-left  item-text-wrap" href="#/tabs/announcement/{{obj.id}}" ng-repeat="obj in vm.data">
                <img ng-src="{{obj.thumbnail}}">
                <h2>{{obj.title}}</h2>
                <p>{{obj.date | date:'mediumDate'}}</p>
            </a>

        </div>
        <ion-infinite-scroll on-infinite="vm.getData()" distance="3%" ng-if="vm.data.length < vm.total">
        </ion-infinite-scroll>
    </ion-content>
</ion-view>