<ion-view view-title="Account">
    <ion-content>
        <div class="list" style="height: 200px;" style="text-align: center;">
            <div class="col header text-center">
                <img src="./img/ph.png" class="profileImage" ng-click="vm.openProfile()" />
            </div>
        </div>
        <div class="list">
            <div class="item item-divider text-center">
                <p style="font-size: large;">
                    {{vm.user.name}}
                </p>
            </div>
            <a class="item item-icon-left item-icon-right" href="#/tabs/settings/about">
                <i class="icon ion-information-circled">
                </i> About
                <i class="icon ion-ios-arrow-thin-right icon-accessory">
                </i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-icon-left" href="" ng-click="vm.signout()" style="color: #93100e">
                <i class="icon ion-log-out">
                </i> Logout

            </a>
        </div>
    </ion-content>
</ion-view>