<ion-view view-title="Account">
    <ion-content>
        <div class="list">
            <a class="item item-icon-left item-icon-right" href="#/tab/settings/profile">
                <i class="icon ion-image">
                </i>
                Profile
                <i class="icon ion-ios-arrow-thin-right icon-accessory">
                </i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-icon-left item-icon-right" href="#/tab/settings/appointments">
                <i class="icon ion-ios-cart">
                </i>
                My Orders
                <i class="icon ion-ios-arrow-thin-right icon-accessory">
                </i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-icon-left item-icon-right" href="#/tab/settings/appointments">
                <i class="icon ion-calendar">
                </i>
                My Appointments
                <i class="icon ion-ios-arrow-thin-right icon-accessory">
                </i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-icon-left item-icon-right" href="#/tab/settings/sociallinks">
                <i class="icon ion-earth">
                </i>
                Social Links
                <i class="icon ion-ios-arrow-thin-right icon-accessory">
                </i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-icon-left item-icon-right" href="#/tab/settings/about">
                <i class="icon ion-information-circled">
                </i>
                About
                <i class="icon ion-ios-arrow-thin-right icon-accessory">
                </i>
            </a>
            <div class="item item-divider">
            </div>
            <a class="item item-icon-left item-icon-right" href="#/tab/settings/terms">
                <i class="icon ion-cube">
                </i>
                Terms of Use
                <i class="icon ion-ios-arrow-thin-right icon-accessory">
                </i>
            </a>
            <div class="item item-divider">
            </div>
        </div>
    </ion-content>
</ion-view>
